* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

.elcontenido {
	height: 100vh;
	overflow: hidden;
    position: relative;
}

.barra {
	height: 60px;
	background: #72D822;
	padding: 15px;
	color: #FFF;
}

#contenido {
	position: absolute;
	bottom: 0;
}

.mapCont {
	padding: 0;
}

#map_canvas {
	width: 100%;
	height: calc(100vh - 60px);
}

.btnMenu {
	width: 30px;
	height: 30px;
	position: relative;
	float: left;
	border: 0;
	background: none;
	font-size: 20px;
}

.titleApp {
	font-size: 20px;
    margin-left: 10px;
	position: relative;
    float: left;
}

#usePosition {
	position: absolute;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background: #72D822;
	bottom: -250px;
	left: 50%;
	margin-left: -75px;
	border: 0;
	color: #FFF;
	font-size: 80px;
    box-sizing: unset!important;
    outline: none!important;
}

#findCar {
	position: absolute;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background: #72D822;
	bottom: -250px;
	left: 50%;
	margin-left: -75px;
	border: 0;
	color: #FFF;
	font-size: 80px;
    box-sizing: unset!important;
    outline: none!important;
}

#takePhotoPos {
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: transparent;
	bottom: -100px;
	right: 20px;
	border: 0;
	color: #72D822;
	font-size: 35px;
    box-sizing: unset!important;
    outline: none!important;
}

#discardEst {
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: transparent;
	bottom: -100px;
	right: 20px;
	border: 0;
	color: #72D822;
	font-size: 35px;
    box-sizing: unset!important;
    outline: none!important;
}


.modalVentana {
	position: absolute;
	top: 120vh;
	width: 90%;
	left: 5%;
    height: 400px;
	background: #FFF;
	border-radius: 20px;
	overflow: hidden;
	border: 1px solid #666;
	-webkit-box-shadow: 0px 0px 50px 5px rgba(128,128,128,1);
	-moz-box-shadow: 0px 0px 50px 5px rgba(128,128,128,1);
	box-shadow: 0px 0px 50px 5px rgba(128,128,128,1);
}

.modalPie {
    background: #72d822;
    height: 80px;
    text-align: center;
}

.modalTitulo {
    background: #72d822;
    color: #FFF;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    height: 40px;
}

.modalCuerpo {
	width: 100%;
	height: 280px;
	position: relative;
	overflow-y: auto;
}

#captureMod {
	width: 100%;
	height: 180px;
}

.infoEsta {
    padding: 5px;
    font-size: 13px;
    color: #333;
    font-weight: bold;
}

.notasExtra {
    padding: 5px;
    font-size: 11px;
    color: #999;
}

.fotoExtra {
    padding: 5px;
    font-size: 11px;
    color: #999;
}

.butonClose {
    color: #FFF;
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 5px;
    background: none;
    border: 0;
    box-sizing: unset!important;
    outline: none!important;
}

.botonerPie {
	height: 100%;
}

.botonerPie button {
    height: 100%;
    border: 0;
    width: 33.333%;
    background: #72d822;
    border-right: 1px solid #FFF;
    color: #FFF;
    font-size: 24px;
}

.botonerPie button:last-child {
    border-right: 0;
}

.ventanaparatexto {
	width: 90%;
	height: 180px;
	position: absolute;
	top: 20px;
	left: -105%;
	-webkit-box-shadow: 0px 0px 50px 5px rgba(128,128,128,1);
	-moz-box-shadow: 0px 0px 50px 5px rgba(128,128,128,1);
	box-shadow: 0px 0px 50px 5px rgba(128,128,128,1);
}

#textoextra {
	width: 100%;
	height: 120px;
	resize: none;
    margin: 0;
    position: relative;
    display: block;
}

.butonGenerico {
	display: block;
	width: 100%;
	height: 60px;
    border: 0;
	position: relative;
	margin: 0;
    background: #72d822;
    border-top: 1px solid #FFF;
    color: #FFF;
    text-align: center;
    font-size: 24px;
}

.imgSmallExtra {
	width: 60px;
	height: auto;
}
